.contato {
  background-color: var(--color-white);
  padding: 1em;
}
.contato__titulo, .contato__texto {
  background: var(--color-blue-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 

}
.contato__texto {
  font-weight: 300;
  margin: 1em 0;
}
.contato__email {
  padding: 1em; 
  border: 1px solid var(--color-blue);
  border-radius: 24px;
  width: 90%;
  color: var(--color-blue);
}
.contato__email::placeholder {
  background-size: 20px;
  font-family: var(--font-main), 'Verdana';
  background: url("/images/envelope.svg") no-repeat scroll;
  padding-left: 5.0em;
  color: var(--color-blue);
}

@media screen and (min-width: 1024px) {
 .contato {
  display:flex;
  justify-content: center;
  align-items: center;
 }
 .contato__descricao {
  margin: 1em 1em;
 }
 .contato__email {
  width: 30%;
 }
 .contato__titulo {
  font-size: 24px;
 }
 .contato__descricao {
  width: 20%;
 }
 
 @media screen and (min-width:1024px) {
  .contato {
    padding: 3em 20vw;
  }
  
 }



}
 