hr {
  margin: 0;
}

.footer__title {
  background-color: var(--color-white);
  padding: 1em;
}

.list-footer {
  display: none;
}

.buttons__anchor {
  background-color: var(--color-orange) ;
  padding: 1em 2.2em;
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .list-footer {
    display: block;
  }

  footer {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-around;
  }

  .list-footer__item {
    display: flex;
    align-items: center;
    margin: 0.6em 0em;
  }

  .list-footer__link {
    color: var(--color-grey);
    text-decoration: none;
    margin-left: 0.6em;
  }

  .list-footer__title {
    font-size: 14px;
    color: var(--color-grey-light);
  }

  .footer__title {
    font-size: 24px;
  }

  .list-footer {
    padding: 1em;
    border-left: 1px solid var(--color-grey-light);
  }

  footer {
    padding: 2em 0;
  }

  .list-footer__item:hover {
    background-color: var(--color-orange);
  }
}