.topics {
  background: var(--color-blue-degrade);
  text-align: center;
  padding: 0.5em;
}

.topics__title {
  color: var(--color-white);
  font-size: 16px;
}

.topics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics__item {
  margin: 2em 0.5em;
}

.topics__link {
  color: var(--color-white);
  padding: 1em;
  background-color: var(--color-orange);
}

@media screen and (min-width:1024px) {
  .topics__title {
    font-size: 24px;
  }

  .topics__list {
    padding: 2em 30vw;
  }
}